.frame {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.columnOne {
    grid-column: 1;
    grid-row: 1/ span 3;
    background-color: green;
    color: greenyellow;
    border-radius: 25px;
}

.columnTwo {
    grid-column: 2;
    grid-row: 1/ span 3;
    background-color: indianred;
    border-radius: 25px;
}

.columnThree {
    grid-column: 3;
    grid-row: 1/ span 3;
    background-color: khaki;
    margin: 0;
    border-radius: 25px;
}

.form {
    position: inherit;
}

.guessChars {
    list-style: none;
    display: inline;
    padding: 7px;
    margin: 2px;
    font-size: 30px;
    border-bottom: 2px solid black;
}
